<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="page1.css">
</head>

<body>
   <h1>Cтраница №1</h1>
   <p><u><a href="/page2">страница №2</a></u></p>
   <p><u><a href="/page3">страница №3</a></u></p>
   <p><u><a href="/page4">страница №4</a></u></p>
</body>
</html>